div {
	width: 200px;
	height: 200px;
	margin:5px;

}

#box1 {
	background:coral;
}

.square {
	background:brown;
}

.circle {
	background: brown;	
	border-radius:50%;
}

.shadow {
	box-shadow: 5px 5px 5px grey;
}

.box{
	background: brown;
}

